<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta charset="UTF-8">

</head>

<body>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" style="width: 18rem; margin: 0.2rem;">
            <div class="p-3 mb-2 bg-light rounded">Family</div>
        </div>
        {% for person in people_config%}
        <div class="card" style="width: 18rem; margin: 1rem;">
            <div style="width:100%; text-align:center; margin-top:10px;">
                <img class="center width:64px; height:64px;"
                    src="static/images/{{ person['person']['image'] }}"
                    alt="{{ person['person']['name'] }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{person["person"]["name"]}}</h5>
                <!-- <p class="card-text">Environment: {{person["person"]["environment"]}}</p> -->
            </div>
        </div>
        {% endfor %}
    </div>

    <hr style="background-color:white">

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 white" align="center"
            style="width: 18rem; margin: 0.2rem;">
            <div class="p-3 mb-2 bg-light rounded">Devices</div>
        </div>
        {% for device in devices_config %}
        <div class="card" style="width: 18rem; margin: 1rem;">
            <div style="width:100%; text-align:center; margin-top:10px;">
                <img class="center width:64px; height:64px;" src="static/images/{{ device['device']['image'] }}" alt="{{ device['device']['name'] }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{device["device"]["name"]}}</h5>
                <!-- <p class="card-text">Description: {{device["device"]["description"]}}</p> -->
                <p class="card-text">Environment: {{device["device"]["environment"]}}</p>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Sensors</h5>
                <div class="{{device['device']['name'].lower().replace(' ', '_')}}-sensors">
                <!-- {% for sensor in device["device"]["sensors"] %}
                <p class="card-text">{{sensor.capitalize()}}:</p> 
                {% endfor %} --> 
                </div>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Communication</h5>
                {% for communication in device["device"]["communications"]%}
                <p class="card-text">{{communication.capitalize()}}</p>
                {% endfor %}
            </div>
            <button href="#" class="btn btn-primary">Start</button>
            {% if 'actions' in device["device"] and device["device"]["modifier"] != 'temperature'  %}
            <button href="#" class="btn btn-warning">{{ device["device"]["actions"].capitalize() }}</button>
            {% endif %}
            {% if 'actions' in device["device"] and device["device"]["modifier"] == 'temperature' %}
            <button href="#" class="btn btn-warning">{{ device["device"]["actions"][0].capitalize() }}</button>
            <button href="#" class="btn btn-dark">{{ device["device"]["actions"][1].capitalize() }}</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <hr style="background-color:white">

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" style="width: 18rem; margin: 0.2rem;">
            <div class="p-3 mb-2 bg-light rounded">Environments</div>
        </div>
        {% for environment in environments_config%}
        <div class="card" style="width: 18rem; margin: 1rem;">
            <div style="width:100%; text-align:center; margin-top:10px;">
                <img class="center width:64px; height:64px;"
                    src="static/images/{{ environment['environment']['image'] }}"
                    alt="{{ environment['environment']['name'] }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{environment["environment"]["name"]}}</h5>
                <p class="card-text">Properties: {{environment["environment"]["properties"]}}</p>
                <div id="{{ environment['environment']['name'].lower() }}"></div>
            </div>
            <div style="width: 100%; height: 100px"></div>
        </div>
        {% endfor %}
    </div>

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" style="width: 18rem; margin: 0.2rem;">
        <button href="#" class="btn btn-primary" id="start-environments">Start Environments</button>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style="background-color: white; margin-top: 250px;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: Simulator Smart Home
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% for device in devices_config %}
<script type="text/javascript" charset="utf-8" src="static/js/{{ device['device']['name'].lower().replace(' ', '_') }}.js"></script>
{% endfor %}
</html>